      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="col-md-12">
              <div class="section">
                <div class="container">
                  <div class="row">
                  	
                  	<div class="col-md-4">
                      <%= link_to image_tag("https://ununsplash.imgix.net/photo-1414637104192-f9ab9a0ee249?w=300&amp;q=50&amp;fm=jpg&amp;s=39603686d9062f5c4a5309a45e28264e", class: "center-block img-circle img-responsive"), problem_index_path, method: :get %>
                      <h2>Rozwiąż swoje dolegliwości</h2>
                      <p style="font-size:20px">Sprawdz co możesz zrobić z trapiącymi Cię problemami.</p>
                    </div>
                    <div class="col-md-4">
                    	<%= link_to image_tag("https://unsplash.imgix.net/photo-1421986527537-888d998adb74?w=300&amp;q=50&amp;fm=jpg&amp;s=e633562a1da53293c4dc391fd41ce41d", class: "center-block img-circle img-responsive"), effect_index_path, method: :get %>
                      <h2>Sprawdz efekty swoich działań</h2>
                      <p>Sprawdz jakie efekty niosą za sobą podjęte przez Ciebie akcje</p>
                    </div>
                    
                    <div class="col-md-4">
                    	<%= link_to image_tag("https://unsplash.imgix.net/photo-1423439793616-f2aa4356b37e?w=300&amp;q=50&amp;fm=jpg&amp;s=3b42f9c018b2712544debf4d6a4998ff", class: "center-block img-circle img-responsive"), interface_index_path, method: :get %>
                      <h2>Dodaj własne elementy</h2>
                      <p>Dodaj własne elementy i stwórz własną baze profilaktycznych wskazówek</p>
                    </div>
                    
                  </div>
                </div>
              </div>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
