	h1 { padding: .1em; margin: 0; }
  #products { float:left; width: 300px; margin-right: 2em;cursor:move; }
  #cover { } 
  
  .style_image {
  float: middle;
	}
  #cart { width: 100%; float: left; margin-top: 0; }
  #cart ol { margin: 0; padding: 1em 0 1em 3em; cursor:move; }
  #effect { float: left; width: 100%; margin-left: 0; }