// Place all the styles related to the problem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  #gallery { float: left; width: 100%; min-height: 12em; }
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 108px; height:108px;  padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%;height: 60px; cursor: move; }
 
  #trash { float: right; width: 100%; min-height: 18em; padding: 1%;margin-top: 1.4em }
  #trash h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash h4 .ui-icon { float: left; }
  #trash .gallery h5 {  }
  
  #products { float:left; width: 100%; margin-right: 2em;cursor:move; }
  #effect { float: left; width: 100%; }